/* THE BLUE #2B3692 */
/* THE RED #D73232 */
/* LIGHT RED #eddada #/
/* LIGHT BLUE #c9cce6 #/

/* Global */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  display: block;
  text-decoration: none;
}

/** Header */
.header {
  background-color: #D73232;
  padding: 12px 0;
  position: relative;
  z-index: 1;
}

.header--title {
  font-family: 'Open Sans Light', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.header--blue-block {
  background-color: #2B3692;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

/** Templates */
.templates {
  display: none;
}

/** Articles */
.article {
  padding: 22px 12px;
  border-bottom: 2px solid #efefef;
}

.article--read.article--l, 
.article--read.article--ll {
  background-color: #c9cce6;
}

.article--read.article--r, 
.article--read.article--rr {
  background-color: #eddada;
}

.article--read.article--c {
  background-color: #cfcfcf;
}


.article--read {
  background-color: #dddddd;
}

.article__main-info {
  display: flex;
  padding-bottom: 12px;
}
.article__thumb {
  height: 50px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #333;
  width: 50px;
  margin-right: 12px;
}

.article__title-and-author {
  flex: 1;
}

.article__title {
  font-size: 16px;
  font-family: 'Open Sans Semibold', sans-serif;
  margin-bottom: 4px;
}

.article__author {
  font-size: 14px;
  font-family: 'Open Sans Light', sans-serif;
}

.article__partisan-lean { 
  font-family: 'Open Sans Semibold', sans-serif;
}

.article__partisan-lean--l,
.article__partisan-lean--ll {
  color: #2B3692;
}

.article__partisan-lean--r,
.article__partisan-lean--rr {
  color: #D73232;
}

.article__partisan-lean--c {
  color: #333333;
}

.article__description {
  font-size: 12px;
}

.article__read-more-link {
  font-family: 'Open Sans Semibold', sans-serif;
}